@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: #171616; */
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  overflow-x: hidden;
}



.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 33px),
    3px calc(100% - 33px),
    3px calc(100% - 27px),
    6px calc(100% - 27px),
    6px calc(100% - 24px),
    6px calc(100% - 21px),
    9px calc(100% - 21px),
    9px calc(100% - 18px),
    12px calc(100% - 18px),
    12px calc(100% - 15px),
    15px calc(100% - 12px),
    18px calc(100% - 12px),
    18px calc(100% - 9px),
    21px calc(100% - 9px),
    21px calc(100% - 6px),
    24px calc(100% - 6px),
    27px calc(100% - 6px),
    27px calc(100% - 3px),
    33px calc(100% - 3px),
    33px 100%,
    calc(100% - 33px) 100%,
    calc(100% - 33px) calc(100% - 3px),
    calc(100% - 27px) calc(100% - 3px),
    calc(100% - 27px) calc(100% - 6px),
    calc(100% - 24px) calc(100% - 6px),
    calc(100% - 21px) calc(100% - 6px),
    calc(100% - 21px) calc(100% - 9px),
    calc(100% - 18px) calc(100% - 9px),
    calc(100% - 18px) calc(100% - 12px),
    calc(100% - 15px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 15px),
    calc(100% - 12px) calc(100% - 18px),
    calc(100% - 9px) calc(100% - 18px),
    calc(100% - 9px) calc(100% - 21px),
    calc(100% - 6px) calc(100% - 21px),
    calc(100% - 6px) calc(100% - 24px),
    calc(100% - 6px) calc(100% - 27px),
    calc(100% - 3px) calc(100% - 27px),
    calc(100% - 3px) calc(100% - 33px),
    100% calc(100% - 33px),
    100% 33px,
    calc(100% - 3px) 33px,
    calc(100% - 3px) 27px,
    calc(100% - 6px) 27px,
    calc(100% - 6px) 24px,
    calc(100% - 6px) 21px,
    calc(100% - 9px) 21px,
    calc(100% - 9px) 18px,
    calc(100% - 12px) 18px,
    calc(100% - 12px) 15px,
    calc(100% - 15px) 12px,
    calc(100% - 18px) 12px,
    calc(100% - 18px) 9px,
    calc(100% - 21px) 9px,
    calc(100% - 21px) 6px,
    calc(100% - 24px) 6px,
    calc(100% - 27px) 6px,
    calc(100% - 27px) 3px,
    calc(100% - 33px) 3px,
    calc(100% - 33px) 0px,
    33px 0px,
    33px 3px,
    27px 3px,
    27px 6px,
    24px 6px,
    21px 6px,
    21px 9px,
    18px 9px,
    18px 12px,
    15px 12px,
    12px 15px,
    12px 18px,
    9px 18px,
    9px 21px,
    6px 21px,
    6px 24px,
    6px 27px,
    3px 27px,
    3px 33px,
    0px 33px);
  position: relative;
}
.pixel-corners {
  border: 6px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(6px 36px,
    9px 36px,
    9px 30px,
    12px 30px,
    12px 27px,
    12px 24px,
    15px 24px,
    15px 21px,
    18px 21px,
    18px 18px,
    21px 18px,
    21px 15px,
    24px 15px,
    24px 12px,
    27px 12px,
    30px 12px,
    30px 9px,
    36px 9px,
    36px 6px,
    calc(100% - 36px) 6px,
    calc(100% - 36px) 9px,
    calc(100% - 30px) 9px,
    calc(100% - 30px) 12px,
    calc(100% - 27px) 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 15px,
    calc(100% - 21px) 15px,
    calc(100% - 21px) 18px,
    calc(100% - 18px) 18px,
    calc(100% - 18px) 21px,
    calc(100% - 15px) 21px,
    calc(100% - 15px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) 27px,
    calc(100% - 12px) 30px,
    calc(100% - 9px) 30px,
    calc(100% - 9px) 36px,
    calc(100% - 6px) 36px,
    calc(100% - 6px) calc(100% - 36px),
    calc(100% - 9px) calc(100% - 36px),
    calc(100% - 9px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 27px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 15px) calc(100% - 24px),
    calc(100% - 15px) calc(100% - 21px),
    calc(100% - 18px) calc(100% - 21px),
    calc(100% - 18px) calc(100% - 18px),
    calc(100% - 21px) calc(100% - 18px),
    calc(100% - 21px) calc(100% - 15px),
    calc(100% - 24px) calc(100% - 15px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 27px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 9px),
    calc(100% - 36px) calc(100% - 9px),
    calc(100% - 36px) calc(100% - 6px),
    36px calc(100% - 6px),
    36px calc(100% - 9px),
    30px calc(100% - 9px),
    30px calc(100% - 12px),
    27px calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 15px),
    21px calc(100% - 15px),
    21px calc(100% - 18px),
    18px calc(100% - 18px),
    18px calc(100% - 21px),
    15px calc(100% - 21px),
    15px calc(100% - 24px),
    12px calc(100% - 24px),
    12px calc(100% - 27px),
    12px calc(100% - 30px),
    9px calc(100% - 30px),
    9px calc(100% - 36px),
    6px calc(100% - 36px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 33px),
    3px calc(100% - 33px),
    3px calc(100% - 27px),
    6px calc(100% - 27px),
    6px calc(100% - 24px),
    6px calc(100% - 21px),
    9px calc(100% - 21px),
    9px calc(100% - 18px),
    12px calc(100% - 18px),
    12px calc(100% - 15px),
    15px calc(100% - 12px),
    18px calc(100% - 12px),
    18px calc(100% - 9px),
    21px calc(100% - 9px),
    21px calc(100% - 6px),
    24px calc(100% - 6px),
    27px calc(100% - 6px),
    27px calc(100% - 3px),
    33px calc(100% - 3px),
    33px 100%,
    calc(100% - 33px) 100%,
    calc(100% - 33px) calc(100% - 3px),
    calc(100% - 27px) calc(100% - 3px),
    calc(100% - 27px) calc(100% - 6px),
    calc(100% - 24px) calc(100% - 6px),
    calc(100% - 21px) calc(100% - 6px),
    calc(100% - 21px) calc(100% - 9px),
    calc(100% - 18px) calc(100% - 9px),
    calc(100% - 18px) calc(100% - 12px),
    calc(100% - 15px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 15px),
    calc(100% - 12px) calc(100% - 18px),
    calc(100% - 9px) calc(100% - 18px),
    calc(100% - 9px) calc(100% - 21px),
    calc(100% - 6px) calc(100% - 21px),
    calc(100% - 6px) calc(100% - 24px),
    calc(100% - 6px) calc(100% - 27px),
    calc(100% - 3px) calc(100% - 27px),
    calc(100% - 3px) calc(100% - 33px),
    100% calc(100% - 33px),
    100% 33px,
    calc(100% - 3px) 33px,
    calc(100% - 3px) 27px,
    calc(100% - 6px) 27px,
    calc(100% - 6px) 24px,
    calc(100% - 6px) 21px,
    calc(100% - 9px) 21px,
    calc(100% - 9px) 18px,
    calc(100% - 12px) 18px,
    calc(100% - 12px) 15px,
    calc(100% - 15px) 12px,
    calc(100% - 18px) 12px,
    calc(100% - 18px) 9px,
    calc(100% - 21px) 9px,
    calc(100% - 21px) 6px,
    calc(100% - 24px) 6px,
    calc(100% - 27px) 6px,
    calc(100% - 27px) 3px,
    calc(100% - 33px) 3px,
    calc(100% - 33px) 0px,
    33px 0px,
    33px 3px,
    27px 3px,
    27px 6px,
    24px 6px,
    21px 6px,
    21px 9px,
    18px 9px,
    18px 12px,
    15px 12px,
    12px 15px,
    12px 18px,
    9px 18px,
    9px 21px,
    6px 21px,
    6px 24px,
    6px 27px,
    3px 27px,
    3px 33px,
    0px 33px,
    0px 50%,
    6px 50%,
    6px 36px,
    9px 36px,
    9px 30px,
    12px 30px,
    12px 27px,
    12px 24px,
    15px 24px,
    15px 21px,
    18px 21px,
    18px 18px,
    21px 18px,
    21px 15px,
    24px 15px,
    24px 12px,
    27px 12px,
    30px 12px,
    30px 9px,
    36px 9px,
    36px 6px,
    calc(100% - 36px) 6px,
    calc(100% - 36px) 9px,
    calc(100% - 30px) 9px,
    calc(100% - 30px) 12px,
    calc(100% - 27px) 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 15px,
    calc(100% - 21px) 15px,
    calc(100% - 21px) 18px,
    calc(100% - 18px) 18px,
    calc(100% - 18px) 21px,
    calc(100% - 15px) 21px,
    calc(100% - 15px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) 27px,
    calc(100% - 12px) 30px,
    calc(100% - 9px) 30px,
    calc(100% - 9px) 36px,
    calc(100% - 6px) 36px,
    calc(100% - 6px) calc(100% - 36px),
    calc(100% - 9px) calc(100% - 36px),
    calc(100% - 9px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 30px),
    calc(100% - 12px) calc(100% - 27px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 15px) calc(100% - 24px),
    calc(100% - 15px) calc(100% - 21px),
    calc(100% - 18px) calc(100% - 21px),
    calc(100% - 18px) calc(100% - 18px),
    calc(100% - 21px) calc(100% - 18px),
    calc(100% - 21px) calc(100% - 15px),
    calc(100% - 24px) calc(100% - 15px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 27px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 12px),
    calc(100% - 30px) calc(100% - 9px),
    calc(100% - 36px) calc(100% - 9px),
    calc(100% - 36px) calc(100% - 6px),
    36px calc(100% - 6px),
    36px calc(100% - 9px),
    30px calc(100% - 9px),
    30px calc(100% - 12px),
    27px calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 15px),
    21px calc(100% - 15px),
    21px calc(100% - 18px),
    18px calc(100% - 18px),
    18px calc(100% - 21px),
    15px calc(100% - 21px),
    15px calc(100% - 24px),
    12px calc(100% - 24px),
    12px calc(100% - 27px),
    12px calc(100% - 30px),
    9px calc(100% - 30px),
    9px calc(100% - 36px),
    6px calc(100% - 36px),
    6px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -6px;
}

.text-shadow {
  text-shadow: -12px 10px 2px rgba(223,188,188,0.6);
}

/* Minecraft Button */

.buttonM {
  padding: 5px 20px; /* Reducir el padding */
  font-size: 14px; /* Reducir el tamaño de la fuente */
  background-color: #333;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0,.8,.26,.99);
}

.buttonM:hover {
  color: #a79595;
}

.buttonM:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: .7s cubic-bezier(0,.8,.26,.99);
  z-index: -1;
  background-color: #333!important;
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.buttonM:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: .7s cubic-bezier(0,.8,.26,.99);
}

.buttonM:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.buttonM:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.buttonM:active {
  transform: translateY(4px);
}

.buttonM:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7)); }
}

.slider {
  background: transparent;
  height: auto; /* Ajusta la altura automáticamente */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  max-width: 960px; /* Ancho máximo */
  color: #fff;
  padding: 20px 0; /* Añade un poco de padding para asegurar que el contenido no se corte */
}

.slider::before,
.slider::after {
  content: "";
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 14); /* Ajusta el ancho según el nuevo ancho de las slides */
}

.slide {
  height: auto; /* Ajusta la altura automáticamente */
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; /* Añade un poco de padding para asegurar que el contenido no se corte */
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background: transparent;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .slide {
    width: 200px; /* Ajusta el ancho de las slides en pantallas más pequeñas */
  }

  .slide-track {
    width: calc(200px * 14); /* Ajusta el ancho del track según el nuevo ancho de las slides */
  }
}

@media (max-width: 480px) {
  .slide {
    width: 150px; /* Ajusta el ancho de las slides en pantallas muy pequeñas */
  }

  .slide-track {
    width: calc(150px * 14); /* Ajusta el ancho del track según el nuevo ancho de las slides */
  }

  .slide-content img {
    height: 40px; /* Ajusta la altura de las imágenes en pantallas muy pequeñas */
  }

  .slide-content p {
    font-size: 14px; /* Ajusta el tamaño del texto en pantallas muy pequeñas */
  }
}